/cgi-bin/
/webstat/
/old.stat/
/lib/wordstat/cacert.pem
/lib/wordstat/cert.crt
/lib/wordstat/private.key
/lib/wordstat/req.csr
/lib/wordstat/solid-cert.crt
config.php
old.index.php
.htpasswd
.htaccess
